/** _Global css Start */

$mainBlue:#2f5572;

body {
	font-family:'Roberto', sans-serif;
	color:$mainBlue;
	margin:0;
}

img {
	max-width:100%;
	height:auto;
}

* {
	box-sizing:border-box;
}

a {
	color:$mainOrange;
}

/** _Global css End */