/** _Global css Start */

body {
	font-family:'Roberto', sans-serif;
	color:$mainBlue;
	padding:25px;
	margin:10px;
	columns:300px 2;
}

img {
	max-width:100%;
	height:auto;
}

.box {
	a {
		display:block;
		padding:10px;
	}
}

/** _Global css End */